<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Unlawfulness Curbing</title>  
	<link rel="stylesheet" href="../css/loginstyle.css">  
</head>

<body>
	<div class="container">
	    <form id="contact">
		 <h1>Choose a mode</h1> 
		<button type="button" id="button">Upload a picture</button><br><br>

		<button type="button" id="button">Attach the location</button><br><br>

		<button name="login" type="submit" id="loginSubmit" data-submit="...Sending">Submit</button>
		</form>
	
	</div>
    <script type="text/javascript" src="../js/myscript.js"></script>  
</body>
</html>


